*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    padding: 15px 0;
    background-color: #000000;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.navigator{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__link{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter" , "Arial" , "sans-serif";
}
body{
    font-family: "Inter" , "Arial" , "sans-serif";
}
h1{
    text-align: center;
    font-size: 88px;
font-weight: 500;
line-height: 93px;
margin: 114px 349px;
align-items: center;
}
.hero__item{
    width: 393px;
    text-align: center;
}
.maintitle{
    color: #000000;

font-family: Inter;
font-size: 28px;
font-weight: 600;
line-height: 34px;
margin-top: 30px;
margin-bottom: 10px;
}
.text{
    color: rgba(0, 0, 0, 1);

font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.hero__list{
    margin-top: 114px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
footer{
    margin-top: 100px;
}